@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?hlq82r');
  src: url('../fonts/icomoon.eot?hlq82r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hlq82r') format('truetype'),
    url('../fonts/icomoon.woff?hlq82r') format('woff'),
    url('../fonts/icomoon.svg?hlq82r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 版心 */
.w {
  width: 100%;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tab {
  height: auto;
}

.tab_head {
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  height: 0.9rem;
  padding: 0 0.6rem;
  background-color: white;
}

.tab_head .xuanxiang {
  float: left;
  width: 1rem;
  height: 0.9rem;
}

.tab_head div a {
  display: block;
  text-decoration: none;
  width: 1rem;
  height: 0.9rem;
}

.tab_head div a .words {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.9rem;
  font-size: .2133rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
}

.tab_li {
  z-index: 1;
  position: relative;
}

.tab_li .item {
  width: 100%;
}

.tab_head .theUser {
  float: right;
  width: 2.5rem;
  height: 0.9rem;
}

.tab_head .theUser .login_box {
  float: left;
  width: 1rem;
  height: 0.9rem;
}

.tab_head .theUser .signup_box {
  float: left;
  width: 1.5rem;
  height: 0.9rem;
}

.tab_head .theUser .signup {
  height: .4rem;
  width: 1rem;
  text-align: center;
  margin-top: .2933rem;
  font-size: .2267rem;
  font-weight: 700;
  color: rgb(34, 34, 34);
  border: 2px solid black;
  border-radius: 16px;
}

.tab_head .theUser .login {
  height: .4rem;
  width: .6rem;
  margin-top: .32rem;
  font-size: .2267rem;
  font-weight: 700;
  color: rgb(34, 34, 34);
}

/* 下拉菜单 */
.tab_head .xuanxiang a {
  text-decoration: none;
  width: 1rem;
  height: 0.9rem;
}

.tab_head .xuanxiang ul {
  position: relative;
  border: 1px solid black;
  border-radius: 0.14rem;
}

.tab_head .xuanxiang .triangle {
  position: absolute;
  top: -0.1067rem;
  left: 0.4rem;
  width: 0.2rem;
  height: 0.2rem;
  background-color: aliceblue;
  border: 1px solid black;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  transform: rotateZ(45deg);
}

.tab_head div ul li {
  overflow: hidden;
  list-style: none;
  width: 0.98rem;
  height: 0.4666rem;
}

.tab_head div ul li a {
  display: block;
  text-decoration: none;
  width: 1.04rem;
  height: 0.4667rem;
}

.tab_head div ul li a .words {
  display: block;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  line-height: 0.4667rem;
  font-size: .2133rem;
  font-weight: 400;
  color: rgb(34, 34, 34);
}

.tab_head .xuanxiang a .to_More::after {
  content: '\ea50';
  font-family: 'icomoon';
  line-height: 100%;
  transition: all .2s linear;
}

/* .tab_head .xuanxiang a .to_More {
  transform: rotateZ(90deg);
} */

/* 页面主体 */

.tab_li .item1 .index_Img {
  position: relative;
  width: 100%;
  height: 600px;
}

.tab_li .item1 .index_Img img {
  width: 100%;
  height: 600px;
}

.tab_li .item1 .index_Img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../images/bolang.png);
}

.tab_li .item1 .index_Img .index_Img_hello {
  z-index: 1;
  position: absolute;
  top: 35%;
  left: 5%;
  width: 30%;
  height: 50%;
}

.tab_li .item1 .index_Img .index_Img_hello .index_Img_hello_say {
  display: block;
  width: 100%;
  height: 40%;
  font-size: 45px;
  line-height: 100%;
  font-weight: 900;
  color: white;
}

.tab_li .item1 .index_Img .index_Img_hello .index_Img_hello_login {
  display: block;
  width: 2.9333rem;
  height: .8667rem;
  font-size: 30px;
  font-weight: 900;
  line-height: .8667rem;
  padding: 0 .1333rem;
  text-align: center;
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: .4533rem;
}

/* 销售介绍部分 */
.tab_li .item1 .sell_box {
  padding: 80px 3% 0;
  width: 100%;
  height: 6.8267rem;
}

.tab_li .item1 .sell_box .sell_left,
.sell_right {
  float: left;
  width: 50%;
  height: 100%;
}

.tab_li .item1 .sell_box .sell_left {
  position: relative;
}

.tab_li .item1 .sell_box .sell_left .floor1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.9467rem;
  height: 4.9467rem;
}

.tab_li .item1 .sell_box .sell_left .floor2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.9467rem;
  height: 4.9467rem;
}

.tab_li .item1 .sell_box .sell_right .part1,
.part2,
.part3 {
  padding-left: 100px;
  width: 100%;
  height: 33%;
}


.tab_li .item1 .sell_box .sell_right h2 {
  height: .56rem;
  font-size: .4rem;
  font-weight: 600;
  line-height: .56rem;
  margin: 0 0 20px;
  color: black;
}

.tab_li .item1 .sell_box .sell_right p {
  height: .32rem;
  font-size: 14px;
  font-weight: 400;
  line-height: .32rem;
  margin: 0 0 10px;
}

/* 销售步骤 */
.sale_step_container .sale_step_header {
  font-size: 30px;
  color: #222;
  font-weight: 600;
  text-align: center;
  line-height: 42px;
  padding: 55px 0 40px;
  margin: 0;
}

.sale_step_container .sale_step_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px -16px 0;
}

.sale_step_list .sale_step_card.register {
  background-image: url(../images/step1.png);
}

.sale_step_container .sale_step_list .sale_step_card.upload {
  background-image: url(../images/step2.png);
}

.sale_step_container .sale_step_list .sale_step_card.sign {
  background-image: url(../images/step2.png);
}

.sale_step_container .sale_step_list .sale_step_card.sale {
  background-image: url(../images/step3.png);
}

.sale_step_container .sale_step_list .sale_step_card {
  width: 295px;
  height: 385px;
  margin: 0 20px 16px 0;
  box-sizing: border-box;
  padding: 311px 0 20px;
  border-radius: 4px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

.sale_step_container .sale_step_list .sale_step_card h5 {
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 6px;
  text-align: center;
  color: #080808;
  font-weight: 500;
}

.sale_step_container .sale_step_list .sale_step_card p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-align: center;
  color: #666;
}

.plain_button,
.primary_button {
  display: inline-block;
  min-width: 190px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  padding: 0 24px;
  text-align: center;
}

.primary_button {
  width: fit-content;
  color: #fff;
  background-color: #0870d1;
}

.q_a_container {
  width: 100%;
  padding: 65px 0 46px;
  background-color: #45457c;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-image: url(../images/sell_question.png);
}

.q_a_container .q_a_header {
  width: 100%;
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #fff;
  line-height: 42px;
  margin: 0 auto 40px;
  text-align: center;
}

.q_a_container .q_a_content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 82px;
  padding: 0;
  box-sizing: border-box;
}

.q_a_container .q_a_content .content_part {
  color: #fff;
  width: 250px;
  height: 130px;
  margin: 0;
}

.content_part h5 {
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #fff;
  line-height: 28px;
  margin: 0 0 12px;
  text-align: center;
  white-space: nowrap;
}

.q_a_container .q_a_content .content_part a {
  display: block;
  padding: 0;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #fff;
  line-height: 24px;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

.plain_button {
  color: #222;
  background-color: #fff;
}

.plain_button,
.primary_button {
  display: inline-block;
  min-width: 190px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  padding: 0 24px;
  text-align: center;
}